<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Platypus</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sh</string>
				<string>tcsh</string>
				<string>pl</string>
				<string>perl</string>
				<string>py</string>
				<string>objpy</string>
				<string>python</string>
				<string>rb</string>
				<string>rbx</string>
				<string>applescript</string>
				<string>ascript</string>
				<string>osa</string>
				<string>scpt</string>
				<string>tcl</string>
				<string>exp</string>
				<string>expect</string>
				<string>php</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>platypusScript.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Platypus</string>
	<key>CFBundleGetInfoString</key>
	<string>Platypus ©2003-2006 Sveinbjorn Thordarson.</string>
	<key>CFBundleIconFile</key>
	<string>platypus.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.sveinbjorn.Platypus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Platypus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4</string>
	<key>CFBundleSignature</key>
	<string>Plat</string>
	<key>CFBundleVersion</key>
	<string>3.4</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.9</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>©2003-2006 Sveinbjorn Thordarson.</string>
	<key>NSMainNibFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
